.middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


.v1Nh3:hover, .kIKUG:hover, ._bz0w:hover .middle {
    opacity: 1;
}