.middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +60%);
    -ms-transform: translate(-50%, +60%);
}

._bz0w:hover .tv-middle {
    opacity: 1;
}

@media (min-width: 736px) {
    .tv-middle {
        margin-right: 56px;
        padding: 10px;
    }
}

@media (max-width: 736px) {
    .tv-middle {
        margin-right: 6px;
        padding: 3px;
    }
}

.tv-middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, +60%);
    -ms-transform: translate(-50%, +60%);
}

#profile-middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.v1Nh3:hover, .kIKUG:hover, ._bz0w:hover .middle {
    opacity: 1;
}

.CfWVH:hover #profile-middle, ._2dbep:hover #profile-middle, ._6q-tv:hover #profile-middle {
    opacity: 1;
}

/* The Modal (background) */
.modal {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0s, .2s, .2s;
    transition-delay: 0s, 0s, 0s !important;
    transition: visibility 0s ease .2s, all .2s ease-in-out .2s, opacity .2s linear .2s;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    display: block;
    padding: 20px 20px 1.5rem 20px

}

@media only screen and (max-width: 900px) {
    .modal-content {
        width: 80%;
    }
}

/* For the modal text */
.text {
    margin-bottom: .8rem;
    line-height: 1.3rem;
    padding-left: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-grid;
    display: block !important;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-hr{
    margin-left: -20px;
    margin-right: -20px;
    color: lightgray;
}