.alert-wrapper {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: calc(80vw - 1rem);
  z-index: 2000;
  max-width: 550px;
}


.alert {
  opacity: 0;
  transition: opacity .2s;
  position: relative;

  margin-top: 20px;
  padding: 15px 29px 15px 15px;

  animation: fade-in .3s;
  border-radius: 5px;

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }
}

.close {

  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' fill='white' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath stroke='white' d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3E%3C/svg%3E%0A");
  cursor: pointer;
  right: 5px;
  top: 5px;
}

.default {
  background-color: rgb(0, 149, 246);
  color: white;
}

.warn {
  background-color: rgb(246, 149, 0);
  color: white;
}

.error {
  background-color: rgb(246, 90, 0);
  color: white;
}
